.SideBar
  .SideBar__Header
    .SideBar__Header--SideItem
      Tom
      .SideBar__Header--SideItem--SideIcon
        = link_to "#", class: "icon__btnA" do
          = icon('fas', 'edit')
        = link_to "#", class: "icon__btnB" do
          = icon('fas', 'cog')
  .SideBar__Group
    .SideBar__Group--GroupName
      tom
    .SideBar__Group--NewMessage
      まだメッセージがありません 